<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="li.vin.techcrunchdemo"
    >

  <uses-permission android:name="li.vin.permission.VINLI_DEVICE_SERVICE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
      android:fullBackupContent="false"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      >

    <activity
        android:name=".TechCrunchDemoActivity"
        android:launchMode="singleInstance"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        >

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>

  </application>

</manifest>

